* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

header,
footer {
    display: block;
}

div.container,
main {
    width: 100%;
    margin: 0 auto;
}

main,
main>aside,
main>section,
main>article,
div.container>aside,
div.container>section,
div.container>article {
    display: block;
    padding: 0;
}


aside:first-of-type {
    width: 20%;
    float: left;
}

/* Content Area */
section {
    width: auto;
    /* maybe modification would needed, full width (including asides) */
    float: left;
}

aside:last-of-type {
    width: 20%;
    float: right;
}

main>aside:only-of-type,
div.container>aside:only-of-type {
    width: 25%;
}

/* Clearfix for Right Sidebar with .clearfix */
.clearfix::after,
main::after {
    content: "";
    display: block;
    clear: both;
}

/* Basic Media Query for Mobile */
@media screen and (max-width: 768px) {

    aside:first-of-type,
    aside:last-of-type,
    section {
        width: 100%;
        float: none;
    }
}